.container{
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
}
.title-box h2,
.title-box h3,
.title-box h4{
  font-weight: bold;
}
.title-box p{
  line-height: 1.5;
  margin-top: 1rem;
}
/* -------------------- */
/* breadcrumb */
.breadcrumb ul{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  display: flex;
}
.breadcrumb ul li{
  margin-right: 2.5rem;
  position: relative;
  line-height: 1.5;
}
.breadcrumb ul li:not(:last-child):after{
  content: '>';
  position: absolute;
  right: -1.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, .5);
  font-size: 1.4rem;
}
.breadcrumb ul li a{
  font-size: 1.4rem;
  font-weight: 500;
}
.breadcrumb ul li:last-child a{
  color: rgba(0, 0, 0, .6);
}
/* kv */
.kv .container{
  background: url('../images/kv-pc-1440-600-v4.jpg') no-repeat center center;
  background-size: cover;
  height: 60rem;
}
.kv .title-box{
  padding-top: 4.1rem;
  padding-left: 4.2rem;
}
.kv .title-box h2{
  font-size: 4.8rem;
}
.kv .title-box p{
  font-size: 1.6rem;
}
/* promotion */
.promotion{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.promotion .container{
  display: flex;
  justify-content: space-between;
}
.promotion .title-box h3{
  font-size: 4rem;
}
.promotion .title-box p{
  font-size: 1.8rem;
}
.promotion .content-box{
  display: flex;
  align-items: center;
}
.promotion-detiles{
  display: flex;
}
.promotion-detiles li{
  position: relative;
  margin-left: 9rem;
}
.promotion-detiles li:not(:last-child){
  margin-right: 8.4rem;
}
.promotion-detiles li::before{
  position: absolute;
  left: -9rem;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 9rem;
  height: 9rem;
}
.promotion-detiles li.sale::before{
  background: url('../images/offer-icon-pc-1.png') no-repeat center center/cover;
}
.promotion-detiles li.free::before{
  background: url('../images/offer-icon-pc-2.png') no-repeat center center/cover;
}
.promotion-detiles li.financting::before{
  background: url('../images/offer-icon-pc-3.png') no-repeat center center/cover;
}
.promotion-detiles li.sale dl{
  margin-left: 3.5rem;
}
.promotion-detiles li.free dl{
  margin-left: 3rem;
}
.promotion-detiles li.financting dl{
  margin-left: 3.4rem;
}
.promotion-detiles dt{
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.promotion-detiles dd{
  font-size: 1.6rem;
  line-height: 1.5;
}
/* product */
.product{
  background-color: #f7f7f7;
}
.product section > .title-box {
  padding-top: 4.6rem;
  padding-bottom: 3rem;
  text-align: center;
}
.product section > .title-box h3{
  font-size: 4rem;
}
.product section > .title-box p{
  font-size: 1.6rem;
}
.product .content-box{
  margin-bottom: 5rem;
  display: flex;
}
.product .content-box.product-right {
  flex-direction: row-reverse;
}
.product .content-box.product-left .product-big{
  margin-right: 4rem;
}
.product .content-box.product-right .product-big{
  margin-left: 4rem;
}
.product .content-box.product-left .product-slider{
  margin-right: 4rem;
}
.product .content-box.product-right .product-slider{
  margin-left: 4rem;
}
.product .product-big{
  width: 66rem;
  height: 60rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.product .product-big .title-box{
  color: #fff;
}
.product .product-big > .title-box{
  margin-left: 4rem;
  margin-bottom: 4.5rem;
  text-shadow: 0px 0px 3rem black;
}
.product .product-big > .title-box h3{
  font-size: 5rem;
}
.product .product-big > .title-box p{
  font-size: 2rem;
}
.product .product-big.product-01{
  background: url('../images/pdt-jet-pc-660-600-v5.jpg') no-repeat center center/cover;
}
.product .product-big.product-02{
  background: url('../images/pdt-air-prufier-pc-660-600-v5.jpg') no-repeat center center/cover;
}
.product .product-big.product-03{
  background: url('../images/pdt-washer-dryer-pc-660-600-v5.jpg') no-repeat center center/cover;
}
.product .product-big.product-04{
  background: url('../images/pdt-air-dresser-pc-660-600-v5.jpg') no-repeat center center/cover;
}
.product .product-big .hover-box{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product .product-big:hover .hover-box{
  opacity: 1;
  height: 100%;
}
.product .product-big:hover > .title-box{
  opacity: 0;
  transform: translateY(20%);
  transition: all .5s;
}
.product .product-big .hover-box .title-box{
  margin-top: 12rem;
  position: relative;
}
.product .product-big .hover-box .title-box h4{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.product .product-big .hover-box .title-box p{
  font-size: 2rem;
}
.product .product-big .hover-box .title-box::before{
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  top: -12rem;
  width: 12rem;
  height: 12rem;
}
.product .product-big.product-01 .hover-box .title-box::before{
  background: url('../images/pdt-jet-icon-pc-120-120.png') no-repeat top center/cover;
}
.product .product-big.product-02 .hover-box .title-box::before{
  background: url('../images/pdt-air-prufier-icon-pc-120-120.png') no-repeat top center/cover;
}
.product .product-big.product-03 .hover-box .title-box::before{
  background: url('../images/pdt-waher-dryer-icon-pc-120-120.png') no-repeat top center/cover;
}
.product .product-big.product-04 .hover-box .title-box::before{
  background: url('../images/pdt-air-dresser-icon-pc-120-120.png') no-repeat top center/cover;
}
.product-slider{
  width: 70rem;
}
.product-slider .product-wrap{
  background-color: #fff;
  position: relative;
  width: 34rem;
  height: 60rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.slick-arrow{
  width: 1.8rem;
  height: 4.2rem;
}
.slick-next{
  right: -5.5%;
}
.slick-prev{
  left: -5.5%;
}
.slick-arrow::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slick-next::before{
  background: url('../images/slick-arrow-next.png') no-repeat right center/cover;
}
.slick-prev::before{
  background: url('../images/slick-arrow-prev.png') no-repeat left center/cover;
}
.product-left .product-slider .slick-prev{
  display: none !important;
}
.product-right .product-slider .slick-next{
  display: none !important;
}
.product-big,
.product-wrap{
  border-radius: 2rem;
}
.product-wrap .product-title{
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  position: absolute;
  top: 0;
}
.product-wrap .product-title p{
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.09rem;
  line-height: 1.3;
}
.product-wrap .product-title mark{
  font-size: 1.2rem;
  background-color: #0a72eb;
  color: #fff;
  border-radius: 2rem;
  padding: .5rem .7rem;
}
.product-wrap .product-img{
  padding-top: 7rem;
}
.product-wrap .product-price{
  text-align: center;
}
.product-wrap .product-price p{
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.product-wrap .product-price span{
  font-size: 1.4rem;
  text-decoration: line-through;
}
.product-wrap .product-price strong{
  font-weight: bold;
  font-size: 1.6rem;
  color: #0a72eb;
}
.product-wrap .product-gpa{
  padding: 2rem 0;
}
.product-wrap .product-gpa .gpa-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-wrap .product-gpa .gpa-icon span:not(:last-child){
  position: relative;
  display: inline-block;
  width: 1.9rem;
  height: 1.7rem;
}
.product-wrap .product-gpa .gpa-icon span:last-child{
  font-size: 1.3rem;
  margin-left: .8rem;
  margin-top: .3rem;
}
.product-wrap .product-gpa .gpa-icon span::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 1.9rem;
  height: 1.7rem;
}
.product-wrap .gpa-icon span.on::before{
  background: url('../images/pdt-star-pc-on.png') no-repeat center center/cover;
}
.product-wrap .gpa-icon span.off::before{
  background: url('../images/pdt-star-pc-off.png') no-repeat center center/cover;
}
.product-wrap .product-coupon{
  padding: 2rem 0;
}
.product-wrap .product-coupon ul{
  display: flex;
  flex-direction: column;
  margin-left: 7.2rem;
}
.product-wrap .product-coupon li{
  padding-left: 2.6rem;
  position: relative;
}
.product-wrap .product-coupon li::before{
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.6rem;
  height: 2.6rem;
}
.product-wrap .product-coupon li:not(:last-child){
  margin-bottom: .8rem;
}
.product-wrap .product-coupon li.gift::before{
  background: url('../images/pdt-icon-gift.png') no-repeat left center/cover;
}
.product-wrap .product-coupon li.discount::before{
  background: url('../images/pdt-icon-discount.png') no-repeat left center/cover;
}
.product-wrap .product-coupon p{
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: .8rem;
  line-height: 1.9;
}
.buy-btn a{
  display: block;
  width: 15rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.buy-btn button{
  font-size: 1.4rem;
  color: #fff;
  background-color: #000;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  cursor: pointer;
}
.notice{
  padding-bottom: 6rem;
  padding-left: 2rem;
}
.notice li{
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  list-style: decimal;
  letter-spacing: -0.01rem;
}
.slick-dots{
  display: none !important;
}

@media  screen and (max-width: 768px) {
  .promotion .container,
  .product .content-box,
  .product .content-box.product-right{
    flex-direction: column;
  }
  .title-box p{
    margin-top: 2rem;
  }
  .slick-arrow{
    display: none;
  }
  /* breadcrumb */
  .breadcrumb ul{
    display: block;
  }
  .breadcrumb ul li{
    display: inline-block;
    margin-right: 3.5rem;
  }
  .breadcrumb ul li:last-child{
    display: block;
  }
  .breadcrumb ul li:not(:last-child):after{
    right: -2.8rem;
    font-size: 2.4rem;
  }
  .breadcrumb ul li a{
    font-size: 2.8rem;
  }
  /* kv */
  .kv .container {
    background: url('../images/kv-mo-720-706-v2.jpg') no-repeat center center;
    background-size: cover;
    height: 75.5rem;
  }
  .kv .title-box{
    text-align: center;
    padding-top: 6.6rem;
    padding-left: 0;
  }
  .kv .title-box h2{
    font-size: 5rem;
  }
  .kv .title-box p {
    font-size: 2.6rem;
  }
  /* promotion */
  .promotion{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .promotion .title-box{
    text-align: center;
    margin-bottom: 4.5rem;
  }
  .promotion .title-box h3{
    font-size: 5rem;
  }
  .promotion .title-box p{
    font-size: 2.8rem;
  }
  .promotion .content-box{
    justify-content: center;
  }
  .promotion-detiles li{
    margin-left: 0;
    margin-top: 9.5rem;
  }
  .promotion-detiles li:not(:last-child){
    margin-right: 4.4rem;
  }
  .promotion-detiles li::before{
    left: 50%;
    top: -65%;
    transform: translateX(-50%);
    width: 13.5rem;
    height: 9.5rem;
  }
  .promotion-detiles li.sale::before{
    background: url('../images/offer-icon-mo-1.png') no-repeat top center/cover;
  }
  .promotion-detiles li.free::before{
    background: url('../images/offer-icon-mo-2.png') no-repeat top center/cover;
  }
  .promotion-detiles li.financting::before{
    background: url('../images/offer-icon-mo-3.png') no-repeat top center/cover;
  }
  .promotion-detiles li dl{
    text-align: center;
  }
  .promotion-detiles li.sale dl{
    margin-left: 0;
  }
  .promotion-detiles li.free dl{
    margin-left: 0;
  }
  .promotion-detiles li.financting dl{
    margin-left: 0;
  }
  .promotion-detiles dt{
    font-size: 2.6rem;
    margin-bottom: 2.3rem;
  }
  .promotion-detiles dd{
    font-size: 2.2rem;
  }
  /* product */
  .product{
    background-color: #f7f7f7;
  }
  .product section > .title-box {
    padding-top: 8rem;
    padding-bottom: 4.6rem;
    text-align: center;
  }
  .product section.section02 > .title-box {
    padding-top: 0;
  }
  .product section > .title-box h3{
    font-size: 5rem;
  }
  .product section > .title-box p{
    font-size: 2.6rem;
  }
  .product .content-box{
    margin-bottom: 8rem;
    align-items: center;
  }
  .product .content-box .product-big{
    margin-bottom: 4rem;
  }
  .product .content-box.product-right {
    flex-direction: column;
  }
  .product .content-box.product-left .product-big{
    margin-right: 0;
  }
  .product .content-box.product-right .product-big{
    margin-left: 0;
  }
  .product .content-box.product-left .product-slider{
    margin-right: 0;
  }
  .product .content-box.product-right .product-slider{
    margin-left: 0;
  }
  .product .product-big{
    width: 62.4rem;
    height: 40rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
  }
  .product .product-big > .title-box{
    margin-left: 4.8rem;
    margin-bottom: 4rem;
  }
  .product .product-big > .title-box h3{
    font-size: 5rem;
  }
  .product .product-big > .title-box p{
    font-size: 2.6rem;
  }
  .product .product-big.product-01{
    background: url('../images/pdt-jet-mo-624-400-v2.jpg') no-repeat center center/cover;
  }
  .product .product-big.product-02{
    background: url('../images/pdt-air-prufier-mo-624-400-v2.jpg') no-repeat center center/cover;
  }
  .product .product-big.product-03{
    background: url('../images/pdt-washer-dryer-mo-624-400-v2.jpg') no-repeat center center/cover;
  }
  .product .product-big.product-04{
    background: url('../images/pdt-air-dresser-mo-624-400-v2.jpg') no-repeat center center/cover;
  }
  .product .product-big .hover-box .title-box{
    margin-top: 14.6rem;
  }
  .product .product-big .hover-box .title-box h4{
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .product .product-big .hover-box .title-box p{
    font-size: 2.6rem;
  }
  .product .product-big .hover-box .title-box::before{
    top: -14.6rem;
    width: 14.6rem;
    height: 14.6rem;
  }
  .product .product-big.product-01 .hover-box .title-box::before{
    background: url('../images/pdt-jet-icon-mo-146-146.png') no-repeat top center/cover;
  }
  .product .product-big.product-02 .hover-box .title-box::before{
    background: url('../images/pdt-air-prufier-icon-mo-146-146.png') no-repeat top center/cover;
  }
  .product .product-big.product-03 .hover-box .title-box::before{
    background: url('../images/pdt-waher-dryer-icon-mo-146-146.png') no-repeat top center/cover;
  }
  .product .product-big.product-04 .hover-box .title-box::before{
    background: url('../images/pdt-air-dresser-icon-mo-146-146.png') no-repeat top center/cover;
  }
  .product-slider{
    width: 65.4rem;
  }
  .product-slider .product-wrap{
    background-color: transparent;
    position: relative;
    width: 29.7rem;
    height: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 4.5rem;
  }
  .slick-arrow{
    display: none !important;
  }
  .product-left .product-slider .slick-prev{
    display: none !important;
  }
  .product-right .product-slider .slick-next{
    display: none !important;
  }
  .product-big,
  .product-wrap{
    border-radius: 2rem;
  }
  .product-wrap .product-title{
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    position: absolute;
    top: 0;
  }
  .product-wrap .product-title p{
    display: none;
  }
  .product-wrap .product-title mark{
    background-color: #0a72eb;
  }
  .product-wrap .product-img{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 2rem;
    margin-bottom: 2.5rem;
  }
  .product-wrap .product-m-title{
    height: 5.2rem;
    margin-bottom: 4.4rem;
  }
  .product-wrap .product-m-title p{
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  .product-wrap .product-price{
    text-align: center;
  }
  .product-wrap .product-price p{
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
  .product-wrap .product-price span{
    font-size: 2.2rem;
    text-decoration: line-through;
  }
  .product-wrap .product-price strong{
    font-size: 2.4rem;
  }
  .product-wrap .product-gpa{
    padding: 2rem 0 3rem;
  }
  .product-wrap .product-gpa .gpa-icon span:not(:last-child){
    width: 2.6rem;
    height: 2.7rem;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  .product-wrap .product-gpa .gpa-icon span:last-child{
    font-size: 2.2rem;
    margin-left: 1.5rem;
    margin-top: .3rem;
  }
  .product-wrap .product-gpa .gpa-icon span::before{
    width: 2.6rem;
    height: 2.7rem;
  }
  .product-wrap .gpa-icon span.on::before{
    background: url('../images/pdt-star-mo-on.png') no-repeat center center/cover;
  }
  .product-wrap .gpa-icon span.off::before{
    background: url('../images/pdt-star-mo-off.png') no-repeat center center/cover;
  }
  .buy-btn a{
    width: 25.5rem;
    height: 7.9rem;
  }
  .buy-btn button{
    font-size: 2.8rem;
    border-radius: 10rem;
  }
  .notice{
    padding-bottom: 12.5rem;
    padding-left: 5.8rem;
  }
  .notice li{
    font-size: 2.2rem;
    margin-bottom: 2.2rem;
    letter-spacing: -0.01rem;
  }
  .slick-dots{
    display: block !important;
  }
  .slick-dots li button:before{
    display: none;
  }
  .product-slider .slick-dots li{
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    border: .1rem solid #000;
    border-radius: 50%;
  }
  .product-slider .slick-dots li.slick-active{
    background-color: #000;
  }
 

}
